<!-- SECCION CONTACTO -->
<section id="contact" class="contact">
    <div class="container-section">
      <h2>CONTACTO</h2>
      <div class="row">
        <div class="col">
          <input type="text" placeholder="Tú Nombre" />
          <input type="text" placeholder="Número telefónico" />
          <input type="text" placeholder="Dirección de correo" />
          <input type="text" placeholder="Tema" />
          <textarea
            name=""
            id=""
            cols="30"
            rows="10"
            placeholder="Mensaje"
          ></textarea>
          <button>
            Enviar Mensaje<i class="fa-solid fa-paper-plane"></i>
            <span class="overlay"></span>
          </button>
        </div>
        <!-- Mapa -->
        <div class="col">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63778.3877789963!2d-76.599934!3d2.4573849500000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e300311c028d47d%3A0x880bd67f0987a54e!2zUG9wYXnDoW4sIENhdWNh!5e0!3m2!1ses-419!2sco!4v1730332867654!5m2!1ses-419!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          <div class="info">
            <ul>
              <li>
                <i class="fa-solid fa-location-dot"></i>
                Popayán, Colombia
              </li>
              <li>
                <i class="fa-solid fa-mobile-screen"></i>
                Llamanos: 8790546389
              </li>
              <li>
                <i class="fa-solid fa-envelope"></i>
                Email: {{"portafolio@gmail.com"}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
