/*SECCION SOBRE MI*/
.about-me {
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
  }
  
  .about-me .container-section {
    max-width: 1100px;
    margin: auto;
  }
  
  .about-me h2 {
    font-size: 48px;
    font-family: "Righteos";
    text-align: center;
    padding: 20px 0;
  }
  
  .about-me .container-section p{
    text-align: justify;
    font: 18px;
    line-height: 22px;
    margin-bottom: 50px;
  }
  
  .about-me .container-section p span {
    color: #1CB698;
    font-weight: bold;
  }
  
  .about-me .row{
    display: flex;
  }
  .about-me .row .col{
    width: 50%;
  }
  .about-me .row .col h3{
    font-size: 30px;
    font-family: "Righteos";
    margin-bottom: 25px;
  }
  .about-me .row .col ul {
    list-style: none;
    padding: 0;
  }
  .about-me  .row  .col ul li{
    margin: 12px 0;
  }
  
  .about-me  .row  .col ul li strong {
    display: inline-block;
    color: #1CB698;
    width: 130px;
  }
  .about-me  .row  .col ul li span{
    background-color: #1CB698;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
  }
  .about-me  .row  .col .container-interests {
    display: flex;
    flex-wrap: wrap;
  }
  .about-me  .row  .col .container-interests .interests{
    width: 100px;
    height: 100px;
    background-color: #252a2e;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
  }
  
  .about-me  .row  .col .container-interests .interests:hover{
    background-color: #1CB698;
  }
  
  .about-me  .row  .col .container-interests .interests i{
    font-size: 30px;
    margin-bottom: 10px;
  }
  