<!-- SECCION SOBRE MI -->

<div class="about-me">
  <h2>SOBRE MÍ</h2>
  <p>
    Hola,<span> soy Rusbell Ruiz Portocarrero</span>, Ingeniero electrónico apasionado por el mundo del desarrollo de software.
      Tengo conocimientos en diferentes lenguajes como Python, JavaScript, CSS, HTML y Frameworks como Django Rest Framework,
      ReactJS, Angular y Bootstrap, Me apasiona el aprendizaje continuo y el uso de la tecnología como herramienta para resolver
        problemas sociales. Me considero una persona responsable, leal y comprometida, con habilidades interpersonales que
        me permiten integrar equipos de trabajo colaborativos, donde prevalezca el respeto y la tolerancia.
  </p>

  <div class="row">
    <div class="col">
      <h3>Datos Personales</h3>
      <ul>
        <li>
          <strong>Nacimiento</strong>
          17-09-1993
        </li>
        <li>
          <strong>Email</strong>
          {{"rusbell.ruiz.p@uniautonoma.edu.co"}}
        </li>
        <li>
          <strong>Direccion</strong>
          Barrio centro, Popayán Cauca
        </li>
        <li>
          <strong>Cargo</strong>
          Dinamizador web - CRIC
        </li>
      </ul>
    </div>
    <div class="col">
      <h3>Intereses</h3>
      <div class="container-interests">
        <div class="interests">
          <i class="fa-solid fa-gamepad"></i>
          <span>JUEGOS</span>
        </div>
        <div class="interests">
          <i class="fa-solid fa-music"></i>
          <span>MUSICA</span>
        </div>
        <div class="interests">
          <i class="fa-solid fa-futbol"></i>
          <span>FUTBOL</span>
        </div>
        <div class="interests">
          <i class="fa-solid fa-plane"></i>
          <span>VIAJES</span>
        </div>
        <div class="interests">
          <i class="fa-solid fa-book"></i>
          <span>LIBROS</span>
        </div>
        <div class="interests">
          <i class="fa-solid fa-computer"></i>
          <span>SOFTWARE</span>
        </div>
      </div>
    </div>
  </div>
</div>