<!-- FOOTER -->
<footer>
    <a href="#profile-card-section" class="top">
      <i class="fa-solid fa-angles-up"></i>
    </a>
    <div class="social-media">
      <!-- el fa-xxxx es una clase usada para utilizar icononos de fontawesom -->
      <a href="https://www.linkedin.com/in/rusbell-ruiz-portocarrero-322722203/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
      <a href="https://github.com/rusbell-24" target="_blank"><i class="fa-brands fa-github"></i></a>
      <a href="https://www.youtube.com/@rusbellruizportocarrero6433" target="_blank"><i class="fa-brands fa-youtube"></i></a>
      <a href="https://www.instagram.com/rusbellruizportocarrero?igsh=MTdkdW5xdGh1aXgwbQ==" target="_blank"><i class="fa-brands fa-instagram"></i></a>
    </div>
  </footer>