<!-- SECCION DE ENCABEZADO -->
<div class="container-header">
    <header>
      <div class="logo">
        <a href="#">RUSBELL</a>
      </div>
      <nav id="nav">
        <ul>
          <li><a href="#profile-card" onclick="seleccionar()">INICIO</a></li>
          <li><a href="#about-me" onclick="seleccionar()">SOBRE MI</a></li>
          <li><a href="#skills" onclick="seleccionar()">SKILLS</a></li>
          <li>
            <a href="#curriculum" onclick="seleccionar()">CURRICULUM</a>
          </li>
          <li><a href="#projects-portfolio" onclick="seleccionar()">PORTFOLIO</a></li>
          <li><a href="#contact" onclick="seleccionar()">CONTACTO</a></li>
        </ul>
      </nav>
      <div class="nav-responsive" onclick="mostrarOcultarMenu()">
        <i class="fa-solid fa-bars"></i>
      </div>
    </header>
  </div>