<!-- SECCION INICIO -->
<section id="profile-card" class="profile-card">
    <div class="container-banner">
      <div class="container-imgage">
        <img src="images/Rusbell.jpg" alt="Foto  Rusbell" />
      </div>
      <h1>RUSBELL RUIZ P</h1>
      <h2>Ingeniero Electronico y Desarrollador web</h2>
      <div class="social-media">
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-github"></i></a>
      </div>
    </div>
  </section>