<!-- SECCION INICIO -->
<div class="profile-card">
  <div class="container-imgage">
    <img src="images/Rusbell.jpg" alt="Foto  Rusbell" />
  </div>
  <h1>RUSBELL RUIZ P</h1>
  <h2>Ingeniero Electronico y Desarrollador web</h2>
  <div class="social-media">

    <!-- el fa-xxxx es una clase usada para utilizar icononos de fontawesom -->
    <a href="https://www.linkedin.com/in/rusbell-ruiz-portocarrero-322722203/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
    <a href="https://github.com/rusbell-24" target="_blank"><i class="fa-brands fa-github"></i></a>
    <a href="https://www.youtube.com/@rusbellruizportocarrero6433" target="_blank"><i class="fa-brands fa-youtube"></i></a>
    <a href="https://www.instagram.com/rusbellruizportocarrero?igsh=MTdkdW5xdGh1aXgwbQ==" target="_blank"><i class="fa-brands fa-instagram"></i></a>
  </div>
</div>