<app-header></app-header>

<section id="profile-card-section" class="profile-card-section">
    <app-profile-card></app-profile-card>
</section>

<section id="about-me-section" class="about-me-section">
    <app-about-me></app-about-me>
</section>

<app-skills></app-skills>

<section id="curriculum-section" class="curriculum-section">
    <app-curriculum></app-curriculum>
</section>

<section id="projects-portfolio-section" class="projects-portfolio-section">
    <app-projects-portfolio></app-projects-portfolio>
</section>

<section id="contact-section" class="contact-section">
    <app-contact></app-contact>
</section>

<app-footer></app-footer>
