<!-- SECCION DE SKILLS -->
<section id="skills" class="skills">
    <div class="container-section">
      <h2>SKILLS</h2>
      <div class="row">
        <div class="col">
          <h3>Skills Tecnicas</h3>
          <div class="skill">
            <span>JavaScript</span>
            <div class="skill-bar">
              <div class="progress">
                <span>30%</span>
              </div>
            </div>
          </div>
          <div class="skill">
            <span>Python</span>
            <div class="skill-bar">
              <div class="progress">
                <span>50%</span>
              </div>
            </div>
          </div>
          <div class="skill">
            <span>HTML Y CSS</span>
            <div class="skill-bar">
              <div class="progress">
                <span>70%</span>
              </div>
            </div>
          </div>
          <div class="skill">
            <span>Angular</span>
            <div class="skill-bar">
              <div class="progress">
                <span>35%</span>
              </div>
            </div>
          </div>
          <div class="skill">
            <span>ReactJs</span>
            <div class="skill-bar">
              <div class="progress">
                <span>35%</span>
              </div>
            </div>
          </div>
          <div class="skill">
            <span>Django Rest Framework</span>
            <div class="skill-bar">
              <div class="progress">
                <span>50%</span>
              </div>
            </div>
          </div>
          <div class="skill">
            <span>Bootstrap</span>
            <div class="skill-bar">
              <div class="progress">
                <span>50%</span>
              </div>
            </div>
          </div>
          <div class="skill">
            <span>GIT</span>
            <div class="skill-bar">
              <div class="progress">
                <span>70%</span>
              </div>
            </div>
          </div>
          <div class="skill">
            <span>Wordpress</span>
            <div class="skill-bar">
              <div class="progress">
                <span>40%</span>
              </div>
            </div>
          </div>
          <div class="skill">
            <span>Elementor</span>
            <div class="skill-bar">
              <div class="progress">
                <span>60%</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <h3>Skills Profesionales</h3>
          <div class="skill">
            <span>Empatia</span>
            <div class="skill-bar">
              <div class="progress">
                <span>80%</span>
              </div>
            </div>
          </div>
          <div class="skill">
            <span>Creatividad</span>
            <div class="skill-bar">
              <div class="progress">
                <span>75%</span>
              </div>
            </div>
          </div>
          <div class="skill">
            <span>Trabajo en equipo</span>
            <div class="skill-bar">
              <div class="progress">
                <span>80%</span>
              </div>
            </div>
          </div>
          <div class="skill">
            <span>Disciplina</span>
            <div class="skill-bar">
              <div class="progress">
                <span>70%</span>
              </div>
            </div>
          </div>
          <div class="skill">
            <span>Enfocado</span>
            <div class="skill-bar">
              <div class="progress">
                <span>70%</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>