<!-- SECCION PORTAFOLIO -->
<section id="projects-postfolio" class="projects-postfolio">
    <div class="container-section">
      <h2>PORTAFOLIO</h2>
      <div class="gallery">
        <div class="project">
          <img src="images/fondo.jpg" alt="" />
          <div class="overlay">
            <h3>PSeInt #1</h3>
            <p>Variables e impresiones</p>
            <h4>Ejercicio1</h4>
            <div class="statement">
              <p>
                Realizar un programa el cual solicite su nombre y apellidos.
              </p>
              <a
                href="https://github.com/rusbell-24/TALLER-5_Funciones-y-Control-de-versiones-Git/blob/taller1/Taller%20%231%20-%20Variables%20e%20impresi%C3%B3n/Taller1_de_variable_e_impresion_ejercicio1.psc"
                target="_blank"
              >
                Ver Codigo
              </a>
              <a
                class="video"
                href="https://www.youtube.com/watch?v=3wAJgwDNRQk"
                target="_blank"
                >Ver Video</a
              >
            </div>
          </div>
        </div>
        <div class="project">
          <img src="img/fondo.jpg" alt="" />
          <div class="overlay">
            <h3>PSeInt #1</h3>
            <p>Variables e impresiones</p>
            <h4>Ejercicio 2</h4>
            <div class="statement">
              <p>
                Realizar un programa el cual solicite su nombre, apellidos,
                edad y estatura.
              </p>
              <a
                href="https://github.com/rusbell-24/TALLER-5_Funciones-y-Control-de-versiones-Git/blob/taller1/Taller%20%231%20-%20Variables%20e%20impresi%C3%B3n/Taller1_de_variable_e_impresion_ejercicio2.psc"
                target="_blank"
              >
                Ver Codigo
              </a>
              <a
                class="video"
                href="https://www.youtube.com/watch?v=3wAJgwDNRQk"
                target="_blank"
                >Ver Video</a
              >
            </div>
          </div>
        </div>
        <div class="project">
          <img src="img/fondo.jpg" alt="" />
          <div class="overlay">
            <h3>PSeInt #1</h3>
            <p>Variables e impresiones</p>
            <h4>Ejercicio 3</h4>
            <div class="statement">
              <p>
                Realizar un programa el cual solicite su nombre y apellidos,
                también debe capturar nombre y apellidos de su padre y madre.
                Al finalizar debe imprimir en pantalla el siguiente mensaje
                "Yo [Nombre Completo], soy hijo de [Nombre de la Madre] y
                [Nombre del Padre]"
              </p>
              <a
                href="https://github.com/rusbell-24/TALLER-5_Funciones-y-Control-de-versiones-Git/blob/taller1/Taller%20%231%20-%20Variables%20e%20impresi%C3%B3n/Taller1_de_variable_e_impresion_ejercicio3.psc"
                target="_blank"
              >
                Ver Codigo
              </a>
              <a
                class="video"
                href="https://www.youtube.com/watch?v=3wAJgwDNRQk"
                target="_blank"
                >Ver Video</a
              >
            </div>
          </div>
        </div>
        <div class="project">
          <img src="img/fondo.jpg" alt="" />
          <div class="overlay">
            <h3>PSeInt #1</h3>
            <p>Variables e impresiones</p>
            <h4>Ejercicio 4</h4>
            <div class="statement">
              <p>
                Realizar un programa el cual solicite el nombre de una ciudad
                capital y el país. Al finalizar debe imprimir en pantalla el
                siguiente mensaje "La ciudad [Nombre de la Ciudad], es la
                capital del país [Nombre del País]
              </p>
              <a
                href="https://github.com/rusbell-24/TALLER-5_Funciones-y-Control-de-versiones-Git/blob/taller1/Taller%20%231%20-%20Variables%20e%20impresi%C3%B3n/Taller1_de_variable_e_impresion_ejercicio4.psc"
                target="_blank"
              >
                Ver Codigo
              </a>
              <a
                class="video"
                href="https://www.youtube.com/watch?v=3wAJgwDNRQk"
                target="_blank"
                >Ver Video</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>